body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a,
a:hover,
a:visited {
  color: #074E99;
  text-decoration: none;
}
.title {
  margin-left: 50px;
  color: #074E99;
  max-width: 300px;
}
.logo {
  width: 50px;
  height: 50px;
  border: 0px;
  float: left;
  margin: 10px;
}
.jumbotron {
  background-color: #E5F3FF;
}
.panel-heading.metadata-url {
  background-color: #E5F3FF;
  font-weight: 800;
  word-wrap: break-word;
}
.property-name {
  overflow-wrap: break-word;
}
.metadata {
  word-wrap: break-word;
}
.metadata-table {
  table-layout: fixed;
}
.metadata-table tr th:nth-child(1) {
  width: 25%;
  max-width: 150px;
}
.metadata-table tfoot {
  text-align: center;
}
.blurb {
  margin-bottom: 20px;
}
.footer {
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .header {
    margin-bottom: 10px;
  }
  div.container {
    max-width: 748px;
  }
  .panel-heading {
    padding: 10px;
  }
  .metadata-table {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  body {
    padding: 50px;
  }
  .header {
    margin-bottom: 30px;
  }
  div.container {
    max-width: 850px;
  }
}
