body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a, a:hover, a:visited {
  color: #337ab7;
  text-decoration: none;
}

.title {
  color: #337ab7;
}

div.container {
  max-width: 800px;
}

.jumbotron {
  background-color: #E3EEF7;
}

.panel-heading.metadata-url {
  background-color: #E3EEF7;
  font-weight: 800;
}

.metadata-table tfoot {
  text-align: center;
}

.header {
  margin-bottom: 30px;
}

.footer {
  text-align: center;
  width: 100%;
  margin-top: 30px;
}

@media screen and (min-width: 600px) {
  body {
    padding: 50px;
  }
}

