  <div class="container">
      <div class="header clearfix">
        <a href="/">
          <img class="logo" src="/img/logo.png" />
          <h3 class="title">Open Graph Spy</h3>
        </a>
      </div>

{{#if url}}
      <div class="panel panel-default">
        <div class="panel-heading metadata-url"><a href="{{url}}">{{url}}</a></div>
        <table class="table table-condensed metadata-table">
          <thead>
            <tr>
              <th>Property</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {{#metadata-list md}}{{/metadata-list}}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2"><p><strong>Check another site?</strong></p></td>
            </tr>
          </tfoot>
        </table>
      </div>
{{/if}}

      <div class="jumbotron">
        <p class="lead">Enter a webpage url to find open graph metadata:</p>
        <form action="/" method="get">
          <div class="input-group input-group-md">
            <input id="url" name="url" type="text" class="form-control" placeholder="https://www.webpage.com" />
            <span class="input-group-btn"><button type="submit" class="btn btn-md btn-primary">Parse</button></span>
          </div>
        </form>
      </div>

      <div class="row blurb sites">
        <div class="col-lg-12">
          <div class="lead">Try some common OpenGraph enabled sites:</div>
          <ul class="content-block">
            <li>
              <div>Gangnam Style (video)</div>
              <div><a href="/?url=https://www.youtube.com/watch?v=9bZkp7q19f0">https://www.youtube.com/watch?v=9bZkp7q19f0</a></div>
            </li>
            <li>
              <div>Robin Williams (actor)</div>
              <div><a href="/?url=http://www.imdb.com/name/nm0000245/">http://www.imdb.com/name/nm0000245/</a></div>
            </li>
            <li>
              <div>The Giver (book)</div>
              <div><a href="/?url=https://www.goodreads.com/book/show/3636.The_Giver">https://www.goodreads.com/book/show/3636.The_Giver</a></div>
            </li>
            <li>
              <div>How Apple and Microsoft are keeping the desktop off its deathbed (article)</div>
              <div><a href="/?url=https://www.washingtonpost.com/news/the-switch/wp/2017/04/07/how-apple-and-microsoft-are-keeping-the-desktop-off-its-deathbed/">https://www.washingtonpost.com/news/the-switch/wp/2017/04/07/how-apple-and-microsoft-are-keeping-the-desktop-off-its-deathbed/</a></div>
            </li>
            <li>
              <div>OpenGraph Spy (website)</div>
              <div><a href="/?url=https://ogspy.tech">https://ogspy.tech</a></div>
            </li>
          </ul>
        </div>
      </div>

      <div class="row blurb about">
        <div class="col-lg-12">
          <div class="lead">What is <a href="http://ogp.me">Open Graph?</a></div>
          <div class="content-block">
            <p>
              Open Graph is a metadata protocol enables any web page to become a rich object. 
              This is used by Facebook and other services to embed content in a native and easy 
              to understand manner.
            </p>
            <p>Open Graph uses standard HTTP meta tags to mark up content for easy consumption.</p>
            <p>For more info, visit <a href="http://ogp.me">http://ogp.me</a></p>
          </div>
        </div>
      </div>

    </div>