<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>OpenGraph Spy</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="OpenGraph Spy" />
  <meta property="og:image" content="https://ogspy.tech/img/logo.png" />
  <meta property="og:url" content="https://ogspy.tech" />
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>

  {{{body}}}

  <footer class="footer">
    <small><p>&copy; 2017 Brian Holley</p></small>
    <a href="https://github.com/brianholley/opengraph-spy">
      <div class="forkme">Fork me on GitHub</div>
    </a>
  </footer>
</body>
</html>
